h1 {
  color: #873D48;
  text-align: center;
}
h2 {
  color: white;
  text-align: center;
  opacity: 0.75;
  background-image: url("/resources/pattern.jpeg")
}
body {
  font-family: sans-serif;
  color: #664C43;
  min-height: 400px;
  margin-bottom: 100px;
  clear: both;
}
.hint {
  font-size: 11px;
}
.dot-points {
  font-size: 12px;
}
.code {
  font-family: Lucida Console, Courier, monospace;
  background-color: #E3D3E4;
  opacity: 0.75;
  color: darkslategray;
}
footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  background-color: #B5CA8D;

}